<%= render 'map' %>

<div class="stateinfo">
    

    <img src='<%= @state.flag_image %>'>
    <h2><%= @state.name %></h2>
    </br>
    <p><%= @state.description %></p>
    </br>
    <h4>State Capitol: <%= @state.capitol_name %></h4>
    <h4>State Population: <%= @state.population %></h4>
    </br>
    <h4>Fun Facts (click to reveal location on map)</h4>
    </br>
    
</div>